<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG - HÀ NỘI VIBES</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/client/css/style.css" />
    <link rel="stylesheet" href="/client/css/responsive.css" />
    <link rel="stylesheet" href="/client/css/blog.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/client/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/client/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/client/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <%- include('../../partials/header') %>

    <!-- Blog Banner -->
    <header id="blog-banner">
      <div class="header-content">
        <h2 id="quote">Khám phá Hà Nội qua những câu chuyện</h2>
        <div class="line"></div>
        <h1>BLOG DU LỊCH HÀ NỘI</h1>
        <a href="#blog-content" class="ctn">Đọc ngay</a>
      </div>
    </header>

    <!-- Blog Content -->
    <section id="blog-content" class="blog-section">
      <div class="container">
        <div class="title">
          <h1 class="font-color">BÀI VIẾT MỚI NHẤT</h1>
          <div class="line"></div>
        </div>

        <div class="blog-grid">
          <!-- Blog Post 1 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/Overview-1.jpg" alt="Blog post 1" />
              <div class="blog-category">Du lịch</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 15/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">
                Khám phá phố cổ Hà Nội - Hành trình 36 phố phường
              </h3>
              <p class="blog-excerpt">
                Dạo bước qua những con phố cổ kính, khám phá văn hóa truyền
                thống và ẩm thực đặc sắc của Hà Nội. Từ phố Hàng Đào đến phố
                Hàng Bạc, mỗi con phố đều ẩn chứa những câu chuyện thú vị...
              </p>
              <a href="/blog/pho-co-ha-noi-36-pho-phuong" class="blog-read-more"
                >Đọc tiếp <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </article>

          <!-- Blog Post 2 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/Overview-2.jpg" alt="Blog post 2" />
              <div class="blog-category">Ẩm thực</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 12/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">
                Hành trình ẩm thực Hà Nội - Từ phở đến bún chả
              </h3>
              <p class="blog-excerpt">
                Khám phá những món ăn đặc sắc của Hà Nội, từ tô phở nóng hổi
                buổi sáng đến đĩa bún chả thơm ngon. Những quán ăn nhỏ ven đường
                mang đến trải nghiệm ẩm thực chân thực nhất...
              </p>
              <a href="#" class="blog-read-more"
                >Đọc tiếp <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </article>

          <!-- Blog Post 3 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/Overview-3.jpg" alt="Blog post 3" />
              <div class="blog-category">Văn hóa</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 10/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">
                Văn Miếu - Quốc Tử Giám: Nơi lưu giữ tinh hoa giáo dục
              </h3>
              <p class="blog-excerpt">
                Tham quan Văn Miếu - Quốc Tử Giám, ngôi trường đại học đầu tiên
                của Việt Nam. Khám phá kiến trúc cổ kính và tìm hiểu về lịch sử
                giáo dục của dân tộc...
              </p>
              <a href="#" class="blog-read-more"
                >Đọc tiếp <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </article>

          <!-- Blog Post 4 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/Overview-4.jpg" alt="Blog post 4" />
              <div class="blog-category">Trải nghiệm</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 08/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">Hồ Hoàn Kiếm - Trái tim của Hà Nội</h3>
              <p class="blog-excerpt">
                Dạo quanh Hồ Hoàn Kiếm vào sáng sớm, ngắm nhìn Tháp Rùa cổ kính
                và tận hưởng không khí trong lành. Đây là nơi lý tưởng để bắt
                đầu một ngày mới ở Hà Nội...
              </p>
              <a href="#" class="blog-read-more"
                >Đọc tiếp <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </article>

          <!-- Blog Post 5 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/lang-co.jpg" alt="Blog post 5" />
              <div class="blog-category">Làng cổ</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 05/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">
                Làng cổ Đường Lâm - Nét đẹp truyền thống
              </h3>
              <p class="blog-excerpt">
                Khám phá làng cổ Đường Lâm, nơi lưu giữ những ngôi nhà cổ hàng
                trăm năm tuổi. Trải nghiệm cuộc sống bình yên và tìm hiểu về văn
                hóa làng quê Việt Nam...
              </p>
              <a href="#" class="blog-read-more"
                >Đọc tiếp <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </article>

          <!-- Blog Post 6 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/pho-co.jpg" alt="Blog post 6" />
              <div class="blog-category">Lịch sử</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 03/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">
                Hoàng thành Thăng Long - Di sản thế giới
              </h3>
              <p class="blog-excerpt">
                Tham quan Hoàng thành Thăng Long, di sản văn hóa thế giới được
                UNESCO công nhận. Khám phá lịch sử nghìn năm của kinh thành
                Thăng Long xưa...
              </p>
              <a href="#" class="blog-read-more"
                >Đọc tiếp <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </article>
        </div>

        <!-- Load More Button -->
        <div class="blog-load-more">
          <a href="#" class="ctn">Xem thêm bài viết</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <%- include('../../components/contact-section', { sectionId: 'contact-blog' }) %>

    <!-- up scroll -->
    <i class="arrow" onclick="topFunction()" id="upbtn"></i>
    <!-- end -->

    <!--footer-->
    <%- include('../../partials/footer') %>
    <!--footer-->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/client/js/includes.js"></script>
    <script src="/client/js/script.js"></script>
    <script src="/client/js/blog.js"></script>
  </body>
</html>
