<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG - HÀ NỘI VIBES</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/client/css/style.css" />
    <link rel="stylesheet" href="/client/css/responsive.css" />
    <link rel="stylesheet" href="/client/css/blog.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/client/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/client/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/client/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <%- include('../../partials/header') %>

    <!-- Blog Banner -->
    <header id="blog-banner">
      <div class="header-content">
        <h2 id="quote" style="color: #fff;">Khám phá Hà Nội qua những câu chuyện</h2>
        <div class="line"></div>
        <h1>BLOG DU LỊCH HÀ NỘI</h1>
        <a href="#blog-content" class="ctn">Đọc ngay</a>
      </div>
    </header>

    <!-- Blog Content -->
    <section id="blog-content" class="blog-section">
      <div class="container">
        <div class="title">
          <h1 class="font-color">BÀI VIẾT MỚI NHẤT</h1>
          <div class="line"></div>
        </div>

        <div class="blog-grid">
          <!-- BÀI 1 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/ho-tay.jpg" alt="Top 10 địa điểm du lịch Hà Nội" />
              <div class="blog-category">Du lịch</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 15/01/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">Top 10 địa điểm du lịch Hà Nội đẹp và hấp dẫn</h3>
              <p class="blog-excerpt">
                Hà Nội cuốn hút với vẻ đẹp văn hóa, lịch sử và ẩm thực đặc sắc. Cùng Hà Nội Vibes khám phá 10 điểm đến hấp dẫn nhất cho chuyến đi trọn vẹn.
              </p>
              <a href="/blog/bai-1" class="blog-read-more">Đọc tiếp <i class="fa fa-arrow-right"></i></a>
            </div>
          </article>

          <!-- BÀI 2 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/banner-home.jpg" alt="Top 10 quán cafe view đẹp ở Hà Nội" />
              <div class="blog-category">Cafe</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 15/02/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">10 quán cafe Hà Nội view siêu đẹp, chill hết nấc</h3>
              <p class="blog-excerpt">
                Từ rooftop lung linh đến góc nhỏ vintage, đây là 10 tọa độ cafe có view đẹp, không gian độc đáo và đồ uống chất lượng.
              </p>
              <a href="/blog/bai-2" class="blog-read-more">Đọc tiếp <i class="fa fa-arrow-right"></i></a>
            </div>
          </article>

          <!-- BÀI 3 -->
          <article class="blog-card">
            <div class="blog-image">
              <img src="/client/img/banner-attraction.jpg" alt="Top 10 địa điểm sống ảo Hà Nội" />
              <div class="blog-category">Check-in</div>
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span class="blog-date">
                  <i class="fa fa-calendar"></i> 01/03/2024
                </span>
                <span class="blog-author">
                  <i class="fa fa-user"></i> Admin
                </span>
              </div>
              <h3 class="blog-title">10 địa điểm sống ảo hot nhất Hà Nội cho giới trẻ</h3>
              <p class="blog-excerpt">
                Từ phố cổ rêu phong đến góc hiện đại đầy nghệ thuật, đây là danh sách check-in mới lạ và đầy cảm hứng.
              </p>
              <a href="/blog/bai-3" class="blog-read-more">Đọc tiếp <i class="fa fa-arrow-right"></i></a>
            </div>
          </article>
        </div>

        
      </div>
    </section>

    <!-- Contact Section -->
    <%- include('../../components/contact-section', { sectionId: 'contact-blog' }) %>

    <!-- up scroll -->
    <i class="arrow" onclick="topFunction()" id="upbtn"></i>
    <!-- end -->

    <!--footer-->
    <%- include('../../partials/footer') %>
    <!--footer-->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/client/js/includes.js"></script>
    <script src="/client/js/script.js"></script>
    <script src="/client/js/blog.js"></script>
  </body>
</html>
