<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HÀ NỘI</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="/client/css/style.css" />
        <link rel="stylesheet" href="/client/css/responsive.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/client/img/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/client/img/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/client/img/favicon-16x16.png"
        />
        <link rel="manifest" href="/client/site.webmanifest" />
    </head>
    <body
        onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'
    >
        <%- include('../partials/header') %>

        <header id="home">
            <div class="header-content">
                <h2 id="quote">Khám phá Hà Nội – di sản và nhịp sống</h2>
                <div class="line"></div>
                <h1>CẨM NANG DU LỊCH HÀ NỘI</h1>
                <a
                    href="#about"
                    class="ctn"
                    onclick='removeall(); $("#quad").css("border", "2px solid whitesmoke"); $("#quad").css("border-radius", "20px");'
                    >Tìm hiểu thêm</a
                >
            </div>
        </header>

        <!--Events (repurposed as Project Overview) -->
        <section class="events" id="events">
            <div class="container">
                <div class="title">
                    <h1 class="dark">Tổng quan dự án</h1>
                    <div class="line"></div>
                </div>
                <div class="row">
                    <article class="card col">
                        <img class="card-img" src="/client/img/img1.jfif" />
                        <h4 class="dark">Hà Nội Vibes – Cẩm nang du lịch điện tử</h4>
                        <p class="font-color">
                            Cổng thông tin du lịch số về Hà Nội: nội dung chuẩn xác, đa ngôn ngữ; bản đồ tương tác và gợi ý hành trình 1–3 ngày theo chủ đề. Kết nối du khách với doanh nghiệp dịch vụ, nâng cao trải nghiệm và quảng bá hình ảnh Hà Nội thông minh, thân thiện.
                        </p>
                    </article>
                </div>
            </div>
        </section>
        <!--Events-->

        <!--Explore-->
        <section class="explore" id="explore">
            <div class="explore-content">
                <h1>Tổng quan Hà Nội</h1>
                <div class="line"></div>
                <p>
                    Hà Nội – thủ đô ngàn năm – hòa quyện vẻ đẹp cổ kính và hơi thở hiện đại: Hoàng thành Thăng Long, Văn Miếu, chùa Một Cột, phố cổ 36 phố phường; Hồ Gươm, Hồ Tây và các làng cổ ven đô như Đường Lâm. Ẩm thực tinh tế với phở, bún chả, chả cá Lã Vọng, cốm; đời sống lễ hội – nghệ thuật truyền thống đan xen sự kiện đương đại. Sự giao thoa quá khứ – hiện tại tạo nên một điểm đến nhiều lần được vinh danh, để lại ấn tượng khó quên.
                </p>
                <a href="#events" class="ctn">Khám phá tour</a>
            </div>
        </section>
        <!--Explore-->

        <!--tours-->
        <section class="tours" id="tours">
            <div class="container row">
                <div class="col content-col">
                    <h1 class="font-color">Các tour nổi bật</h1>
                    <div class="line"></div>
                    <p>
                        A. City Tour
                    </p>
                    <ul class="font-color" style="padding-left: 1rem; list-style: disc;">
                        <li>Lăng Bác – Chùa Một Cột – Văn Miếu – Hồ Gươm – Xích lô phố cổ</li>
                        <li>Chùa Trấn Quốc – Lăng Bác – Bảo tàng Dân tộc học – Văn Miếu – Nhà tù Hỏa Lò</li>
                        <li>Nhà tù Hỏa Lò – Lăng Chủ tịch Hồ Chí Minh – Phố Cafe Đường Tàu – Văn Miếu – Làng gốm Bát Tràng</li>
                        <li>Chùa Hương trong ngày</li>
                    </ul>
                    <p>
                        B. Tour xuất phát từ Hà Nội
                    </p>
                    <ul class="font-color" style="padding-left: 1rem; list-style: disc;">
                        <li>Tour Ẩm thực Hà Nội – Hải Phòng</li>
                        <li>Tour Hà Nội – Ninh Bình</li>
                        <li>Tour Hà Nội – Hạ Long</li>
                    </ul>
                    <a href="#events" class="ctn">Xem chi tiết</a>
                </div>
                <div class="image-col">
                    <div class="image-gallery">
                        <img src="/client/img/img3.png" alt="" />
                        <img src="/client/img/img4.png" alt="" />
                        <img src="/client/img/img5.png" alt="" />
                        <img src="/client/img/img6.png" alt="" />
                    </div>
                </div>
            </div>
            <br /><br /><br /><br />
        </section>
        <!--tours-->

        <!-- About -->
        <section id="about">
            <div class="title">
                <h1 class="font-color">Về chúng tôi</h1>
                <div class="line"></div>
            </div>
            <br />
            <div id="about_us">
                <div class="boxx">
                    <div class="containerx">
                        <input type="radio" name="slider" id="item-1" checked />
                        <input type="radio" name="slider" id="item-2" />
                        <input type="radio" name="slider" id="item-3" />
                        <div class="cards">
                            <label class="cardt" for="item-1" id="col-img-1">
                                <img src="/client/img/carousel-img4.jpg" />   
                            </label>
                            <label class="cardt" for="item-2" id="col-img-2">
                                <img src="/client/img/carousel-img5.jpg" />
                            </label>
                            <label class="cardt" for="item-3" id="col-img-3">
                                <img src="/client/img/carousel-img6.jpg" />
                            </label>
                            
                        </div>
                    </div>
                    <span id="about-quad"
                        ><a href="#home"
                            ><center>
                                <h1
                                    style="
                                        font-family: var(--ff-montserrat);
                                        color: white;
                                    "
                                >
                                    Find that
                                </h1>
                                <br />
                                <img
                                    class="img2"
                                    src="/client/img/mountain_dark.jpg"
                                    width="200"
                                    style="border-radius: 12%"
                                />
                                <br />
                                <h1 class="logo" style="font-size: 50px">
                                    HÀ NỘI
                                </h1>
                            </center>
                        </a>
                    </span>
                </div>
            </div>
        </section>
        <!-- About -->

        <!-- Contributions -->
        <div class="title">
            <h1 class="font-color">Người đóng góp</h1>
            <div class="line"></div>
        </div>
        <section class="contributors" id="contribution">
            <div class="concard">
                <img
                    src="https://github.com/PritamSarbajna.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn A</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/PritamSarbajna" target="_blank"
                        ><img
                            src="/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>


            <div class="concard">
                <img
                    src="https://github.com/athar-ansari.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>ATHAR ANSARI</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/athar-ansari" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/prakhartiwari0.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Prakhar Tiwari</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/prakhartiwari0" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/hassana123.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Hassana Abdullahi</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/hassana123" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/JumaCodes.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Olumese Steve-John</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/JumaCodes" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/lubnafathima.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Lubna Fathima N</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/lubnafathima" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/allanlalangan.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Allan</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/allanlalangan" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/Seyi-Ojo.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Mayowa Ojo</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/Seyi-Ojo" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/AmitBarman99.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Amit Barman</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/AmitBarman99" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/ppdTurja.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Partha Turja</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/ppdTurja" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/Brainiac-M.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Mahmood Ademoye</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/Brainiac-M" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="https://github.com/abitsalihu.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Abit Salihu</h1>
                </div>
                <div class="logolink">
                    <a href="https://github.com/abitsalihu" target="_blank"
                        ><img
                            src="public/client/img/GitHub120px.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>
        </section>
        <!-- Contributions -->

        <!-- contact -->
        <section id="contact">
            <div class="title">
                <h1 class="font-color">Liên hệ</h1>
                <div class="line"></div>
            </div>
            <div class="contact_us">
                <form class="cform" action="" method="post">
                    <div class="crow-message">
                        <h1 class="color">Send us a message</h1>
                        <div></div>
                    </div>
                    <div class="crow-in">
                        <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Your name"
                        />
                        <input
                            type="text"
                            id="email"
                            name="email"
                            placeholder="Your Email id"
                        />
                    </div>
                    <div class="crow">
                        <div class="ccol-left">
                            <select name="country" id="country">
                                <option value="India">India</option>
                                <option value="Russia">Russia</option>
                                <option value="usa">USA</option>
                                <option value="Japan">Japan</option>
                                <option value="France">France</option>
                                <option value="Brazil">Brazil</option>
                            </select>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="ccol-left">
                            <textarea
                                type="text"
                                id="remarks"
                                name="remarks"
                                placeholder="Your Remarks....."
                                style="height: 150px"
                            ></textarea>
                        </div>
                    </div>
                    <input class="crow-s" type="submit" value="Submit" />
                </form>
                <div class="cbox">
                    <div>
                        <p class="cbox-message">
                            Prefer some other way ?<br />Reach us by using the
                            details given below
                        </p>
                        <div class="cbox-line"></div>
                    </div>
                    <div class="c_boxx">
                        <a href="mailto:abc@gmail.com"
                            ><i class="fa fa-envelope"></i>
                            Mail: tourism@HÀ NỘI.com
                        </a>
                    </div>
                    <div class="c_boxx">
                        <a href="tel:+91-12345-67890"
                            ><i class="fa fa-phone"></i>
                            Phone: (+91) 12345-67890
                        </a>
                    </div>
                    <div class="c_boxx">
                        <a href="#"
                            ><i class="fa fa-map-marker"></i>
                            Location: VietNam
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact  -->
        <!-- up scroll -->
        <i class="arrow"  onclick="topFunction()" id="upbtn"></i>
        <!-- end -->
        <%- include('../partials/footer') %>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="/client/js/script.js"></script>
    </body>
</html>
