<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HÀ NỘI</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="/client/css/style.css" />
        <link rel="stylesheet" href="/client/css/responsive.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/client/img/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/client/img/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/client/img/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body
        onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'
    >
        <%- include('../../partials/header') %>


        <header id="home">
            <div class="header-content">
                <h2 id="quote">Khám phá Hà Nội – di sản và nhịp sống</h2>
                <div class="line"></div>
                <h1>CẨM NANG DU LỊCH HÀ NỘI</h1>
                <a
                    href="#about"
                    class="ctn"
                    onclick='removeall(); $("#quad").css("border", "2px solid whitesmoke"); $("#quad").css("border-radius", "20px");'
                    >Tìm hiểu thêm</a
                >
            </div>
        </header>

        <!--tours-->
        <section class="tours" id="tours">
            <div class="container row">
                <div class="col content-col">
                    <h1 class="font-color">Tổng quan về Hà Nội</h1>
                    <div class="line"></div>
                    <p>
                    Hà Nội là điểm đến du lịch tiêu biểu với sự giao hòa giữa vẻ đẹp cổ kính và hiện đại. Thành phố nổi bật với các di tích lịch sử như Hoàng thành Thăng Long, Văn Miếu – Quốc Tử Giám, chùa Một Cột, khu phố cổ 36 phố phường. Không gian xanh như Hồ Hoàn Kiếm, Hồ Tây và các làng cổ tạo nên sự gần gũi, bình yên. Ẩm thực đặc sắc cùng nhiều sự kiện văn hóa, nghệ thuật truyền thống và hiện đại góp phần tạo nên sức hút đặc biệt cho Hà Nội – nơi lưu giữ nét thanh lịch Tràng An giữa nhịp sống mới, nhiều lần được vinh danh là điểm đến hàng đầu châu Á.
                    </p>
                    <!-- <a href="#" class="ctn">Tìm hiểu thêm</a> -->
                </div>
                <div class="image-col">
                    <div class="image-gallery">
                        <img src="/client/img/img3.png" alt="" />
                        <img src="/client/img/img4.png" alt="" />
                        <img src="/client/img/img5.png" alt="" />
                        <img src="/client/img/img6.png" alt="" />
                    </div>
                </div>
            </div>
            <br /><br /><br /><br />
        </section>
        <!--tours-->

        <!--Explore-->
        <section class="explore" id="explore">
            <div class="explore-content">
                <h1>TỔNG QUAN DỰ ÁN</h1>
                <div class="line"></div>
                <p>
                    Hà Nội, thủ đô nghìn năm văn hiến, vừa giữ gìn giá trị di sản độc đáo vừa hòa nhập hiện đại,  
                    trở thành điểm đến phong phú về lịch sử, văn hóa, ẩm thực và trải nghiệm sống động.  
                    Trong thời đại chuyển đổi số, nhu cầu du khách mong muốn tiếp cận thông tin nhanh, chính xác và đa dạng ngày càng tăng,  
                    trong khi các nguồn hiện tại còn phân mảnh và chưa tối ưu trải nghiệm.
                </br>
                </br>   
                    Hà Nội Vibes hình thành nhằm cung cấp nền tảng số thân thiện, đa ngôn ngữ, tổng hợp toàn diện thông tin về du lịch Hà Nội.  
                    Nền tảng tích hợp bản đồ du lịch thông minh, gợi ý hành trình cá nhân hóa, kết nối khách hàng với doanh nghiệp dịch vụ (khách sạn, nhà hàng, tour, di chuyển)  
                    và quảng bá hình ảnh Hà Nội ra quốc tế.
                </br>
                </br>
                    Nền tảng giới thiệu chi tiết cẩm nang điểm tham quan, di tích, ẩm thực đặc sắc, các tour theo chủ đề văn hóa, lịch sử và vui chơi giải trí.  
                    Hướng đến hỗ trợ du khách tối ưu trải nghiệm, giảm thiểu thời gian và chi phí tìm kiếm,  
                    đồng thời thúc đẩy phát triển du lịch bền vững và hiện đại.
                </br>  
                </br>
                    Dự án lấy du khách làm trung tâm, hướng tới mở rộng thành cẩm nang điện tử toàn quốc  
                    với tầm nhìn trở thành cổng thông tin du lịch số hàng đầu Việt Nam,  
                    góp phần nâng cao vị thế ngành du lịch trong xu thế toàn cầu hóa và chuyển đổi số.
                        
                </p>
            </div>
        </section>
        <!--Explore-->

         <!--Events-->
         <section class="events" id="events">
            <div class="container">
                <div class="title">
                    <h1 class="dark">Tour nổi bật</h1>
                    <div class="line"></div>
                </div>
                <div class="row">
                    <article class="card col">
                        <img class="card-img" src="/client/img/img1.jfif" />
                        <h4 class="dark">Chinh phục Fansipan</h4>
                        <p class="font-color">
                            Trải nghiệm leo núi, săn mây và ngắm toàn cảnh dãy Hoàng Liên Sơn.
                        </p>
                        <a href="#" class="ctn">Xem chi tiết</a>
                    </article>
                    <article class="card col">
                        <img src="/client/img/img2.jfif" />
                        <h4 class="dark">Phố cổ Hà Nội</h4>
                        <p class="font-color">
                            Khám phá 36 phố phường, thưởng thức cà phê, quà vặt và tìm hiểu văn hóa bản địa.
                        </p>
                        <a href="#" class="ctn">Xem chi tiết</a>
                    </article>
                    <article class="card col">
                        <img src="/client/img/img2.jfif" />
                        <h4 class="dark">Hồ Tây & Làng cổ</h4>
                        <p class="font-color">
                            Dạo quanh Hồ Tây, ghé chùa Trấn Quốc và trải nghiệm làng cổ ven đô.
                        </p>
                        <a href="#" class="ctn">Xem chi tiết</a>
                    </article>
                </div>
            </div>
        </section>
        <!--Events-->

        <!-- About -->
        <section id="about">
            <div class="title">
                <h1 class="font-color">HÌNH ẢNH</h1>
                <div class="line"></div>
            </div>
            <br />
            <div id="about_us">
                <div class="boxx">
                    <div class="containerx">
                        <input type="radio" name="slider" id="item-1" checked />
                        <input type="radio" name="slider" id="item-2" />
                        <input type="radio" name="slider" id="item-3" />
                        <div class="cards">
                            <label class="cardt" for="item-1" id="col-img-1">
                                <img src="/client/img/carousel-img4.jpg" />
                            </label>
                            <label class="cardt" for="item-2" id="col-img-2">
                                <img src="/client/img/carousel-img5.jpg" />
                            </label>
                            <label class="cardt" for="item-3" id="col-img-3">
                                <img src="/client/img/carousel-img6.jpg" />
                            </label>
                        </div>
                    </div>
                    <span id="about-quad"
                        ><a href="#home"
                            ><center>
                                <h1
                                    style="
                                        font-family: var(--ff-montserrat);
                                        color: white;
                                    "
                                >
                                    Find that
                                </h1>
                                <br />
                                <img
                                    class="img2"
                                    src="/client/img/mountain_dark.jpg"
                                    width="200"
                                    style="border-radius: 12%"
                                />
                                <br />
                                <h1 class="logo" style="font-size: 50px">
                                    HÀ NỘI
                                </h1>
                            </center>
                        </a>
                    </span>
                </div>
            </div>
        </section>
        <!-- About -->

        <!-- Contributions -->
        <div class="title">
            <h1 class="font-color">THÀNH VIÊN ĐÓNG GÓP</h1>
            <div class="line"></div>
        </div>
        <section class="contributors" id="contribution">
            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn A</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>


            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn B</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn C</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn D</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn E</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn F</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn G</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn H</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn I</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

            <div class="concard">
                <img
                    src="/client/img/avatar.png"
                    alt="profile-picture"
                    class="pfp"
                />
                <div class="text">
                    <h1>Nguyễn Văn J</h1>
                </div>
                <div class="logolink">
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="/client/img/facebook.png"
                            alt="Github-Logo"
                            class="github-logo"
                    /></a>
                </div>
            </div>

        </section>
        <!-- Contributions -->

        <!-- contact -->
        <section id="contact">
            <div class="title">
                <h1 class="font-color">LIÊN HỆ</h1>
                <div class="line"></div>
            </div>
            <div class="contact_us">
                <form class="cform" action="" method="post">
                    <div class="crow-message">
                        <h1 class="color">Gửi tin nhắn cho chúng tôi</h1>
                        <div></div>
                    </div>
                    <div class="crow-in">
                        <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Your name"
                        />
                        <input
                            type="text"
                            id="email"
                            name="email"
                            placeholder="Your Email id"
                        />
                    </div>
                    <div class="crow">
                        <div class="ccol-left">
                            <select name="country" id="country">
                                <option value="India">Việt Nam</option>
                                <option value="Russia">Nga</option>
                                <option value="usa">Mỹ</option>
                                <option value="Japan">Nhật Bản</option>
                                <option value="France">Pháp</option>
                                <option value="Brazil">Brazil</option>
                            </select>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="ccol-left">
                            <textarea
                                type="text"
                                id="remarks"
                                name="remarks"
                                placeholder="Your Remarks....."
                                style="height: 150px"
                            ></textarea>
                        </div>
                    </div>
                    <input class="crow-s" type="submit" value="Submit" />
                </form>
                <div class="cbox">
                    <div>
                        <p class="cbox-message">
                            Bạn muốn cách nào khác?<br />
                            Hãy liên hệ với chúng tôi theo thông tin bên dưới
                        </p>
                        <div class="cbox-line"></div>
                    </div>
                    <div class="c_boxx">
                        <a href="mailto:abc@gmail.com"
                            ><i class="fa fa-envelope"></i>
                            Mail: tourism@hanoi.com
                        </a>
                    </div>
                    <div class="c_boxx">
                        <a href="tel:+91-12345-67890"
                            ><i class="fa fa-phone"></i>
                            Phone: (+84) 12345-67890
                        </a>
                    </div>
                    <div class="c_boxx">
                        <a href="#"
                            ><i class="fa fa-map-marker"></i>
                            Location: Hà Nội, Việt Nam
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact  -->
        <!-- up scroll -->
        <i class="arrow"  onclick="topFunction()" id="upbtn"></i>
        <!-- end -->
        <!--footer-->
        <%- include('../../partials/footer') %>
        <!--footer-->

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="/client/js/includes.js"></script>
        <script src="/client/js/script.js"></script>
    </body>
</html>
