<!-- Footer Component -->
<section class="footer">
    <span>Created By Pritam Sarbajna | &#169; 2022 All rights reserved.</span>
    <div class="social">
        <li>
            <a
                href="https://pritam-sarbajna-portfolio.netlify.app/"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fas fa-globe"></i>
            </a>
            <a
                href="https://github.com/PritamSarbajna"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fab fa-github"></i>
            </a>
            <a
                href="https://www.linkedin.com/in/pritam-sarbajna-74945821b/"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    </div>
</section>